body {
    background-color: white;
}

#Logo{
    position: relative; 
    margin: auto;
    padding: 16px;
    border: none;  
}

p {
    font-family: verdana;
    font-size: 14px;
    background-color: white;
    width: fit-content;
}
form{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 14px;
}
label {
    font-weight: bold;
}
input {
    width: 100%;
    padding: 13px 12px;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
#button{
    background-color:#6666FF;
    color: white;
    font-weight: bold;
}
i{
    align-content: left;
    size: 26px;
}
#login{
    float: left;
}
#aiuti{
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#divGrande{
    margin: auto;
    width: 500px;
}
ul{
    list-style-type: square;
}
footer {
    background: #6666FF;
    bottom: 0;
    height: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
}
p1{
    background-color: #6666FF;
    text-align: center;
    color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
}